# Node
TZ=UTC
PORT=3333
HOST=127.0.0.1

# App
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_CONNECTION=postgres

# Session
SESSION_DRIVER=cookie

# Drive
DRIVE_DISK=fs

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
